# Python virtual environment
venv/
__pycache__/
*.pyc

# Environment secrets
.env

# Database local files / IDE settings / Local Stores
.vscode/
.idea/
*.log
*.sqlite
*.sqlite3
data/chroma_db/
.DS_Store
Thumbs.db